.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
bg{
    background:blue;
    width:100%
}
button {
    font-size: 2em;
    border: 0;
    border-radius: 6px;
    padding: 0;
    background: black;
    cursor: pointer;
}
.button--active{
    background:chartreuse;
}
.button:hover{
    background: blue;
}
.bg--active{
    background:turquoise;
}
.btn-hover{
    background: pink;
}

ul {
    display: flex;
    padding: 0;
}

li {
    margin: 0 20px;
    list-style: none;
    padding: 0;
}
